/* 
 * Created on Jan 18, 2019, 12:55:59 PM
 * Author slash web design https://slashwebdesign.studio
 */

$w0: #000000;
$w1: #111111;
$w2: #222222;
$w3: #282828;
$w4: #333333;
$w5: #4D4D4D;
$w6: #999999;
$w7: #DDDDDD;
$w8: #F3F3F3;
$w9: #FFFFFF;
$w10: #666666;
$r0: #651706;
$r1: #CA2F0C;
$r2: #DD1F26;
$r3: #D5593C;
$r4: #EAAC9E;
$r5: #F5D5CE;
$b0: #103D65;
$b1: #185B98;
$b2: #207ACA;
$b3: #4D94D5;
$b4: #79AFDF;
$b5: #C4DCF1;
$p0: #0B0A3F;
$p1: #15147E;
$p2: #48479A;
$p3: #7372B2;
$p4: #A2A1CB;
$p5: #C5C5DF;
$y0: #A36400;
$y1: #BC8311;
$y2: #FBAE17;
$y3: #FFCC33;